/*=====RESET BASICO=====*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/*=====VARIAVEIS DE COR=====*/
:root{
    --primary-color: #1a5276; /*azul escuro, para o Header e Footer*/
    --nav-bg: #333333; /* cinza para navegacao*/
    --text-color: #333333; /*cor do texto principall*/
    --white: #ffffff;
    --card-borer: #cccccc;
    --link-color: #0000ee; /*cor padrao do link*/
}























/*===========Footer================*/
footer{
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
}

footer p{
    margin: 5px 0;
    font-size: 0.9rem;

}

#lastModified {
    color: #ffff00; /*data de modificacao*/
    font-size: 1rem;
}
